@charset "UTF-8";

html {
    font-size: 100%;
}

body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    background-color: rgb(241, 89, 34);
}

.header {
    max-width: 800px;
    padding: 1px;
}

.appname {
    padding-left: 2%;
    color: white;
}

table {
    margin: auto;
}

th, td {
    padding: 6px;
}

hr {
    margin: 2rem 0;
}

.sentence {
    padding-top: 2px;
    line-height: 1em;
    text-align: center;
}

.sentence2 {
    padding: 0 2rem;
}

.button {
    color: white;
    background: #3a3088;
    padding: 10px 30px;
    margin: 1rem 1rem;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

.inline {
    text-align: center;
    margin: 0 5rem;
}

.footer{
    margin: auto;
    max-width: 800px;
    padding: 10px;
}